# Build
build/
.svelte-kit/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Environment
.env
.env.local
.env.production
